{%load static %}
<html xmlns:color="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'base_css.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body class="container" onload="ajaxSetup()">
            <div class="header">
                 <div class="row" style="color:white;">
                  <h1>{{ request.user.first_name }}</h1>
                 </div>
                <div class="row">
                    <h3>{{ request.user.course.title }},{{ request.user.startYear }} Batch</h3>
                <h3><b>Semester {{ request.user.get_semester }} </b></h3>
                </div>
                <div class="img_box">
               <img src="{% static 'avatar_white_64px.png' %}" alt="Avatar" style="width:150px">
                    </div>

          </div>
        <!--<h2><b>{{ request.user.first_name }}</b></h2>-->
        <!--<h2>{{ request.user.course.title }}</h2>-->

        <hr>
        {% block content %}
        {% endblock %}

        <script>
            function ajaxSetup() {
                $.ajaxSetup({
                    beforeSend: function (xhr, settings) {
                        function getCookie(name) {
                            var cookieValue = null;
                            if (document.cookie && document.cookie != '') {
                                var cookies = document.cookie.split(';');
                                for (var i = 0; i < cookies.length; i++) {
                                    var cookie = jQuery.trim(cookies[i]);
                                    // Does this cookie string begin with the name we want?
                                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                        break;
                                    }
                                }
                            }
                            return cookieValue;
                        }

                        if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                            // Only send the token to relative URLs i.e. locally.
                            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                        }
                    }
                });
            }

        </script>
    </body>
</html>
